.git
.github
**/.vs
**/.idea
**/bin
**/obj
**/node_modules
**/.angular
**/dist
**/coverage
**/test-results
**/playwright-report
backend/LowCodePlatform.Backend.Tests/
**/*.user
**/*.suo
*.md
!README.md
docs
scripts
terminals
